.page-content {
  width: 1600px;
}

.header {
  height: 80px;
  background-color: white;
}

.main-section1 {
  height: 600px;
  background-color: #2f303a;
}

.main-section2 {
  height: 250px;
}

.main-section3 {
  height: 500px;
  background-color: red;
}

.main-section4 {
  height: 648;
}

.footer {
  height: 252px;
  background-color: #2f303a;
}
