* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body,
ul,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
}

/* body {
  background: var(--main-bg-color);
  font-family: "BenchNine", Arial, Helvetica, sans-serif;
} */

.page-content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
  max-width: 1280px;
}
